
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  &__icon {
    width: 100px;
    height: 100px;
    animation: spin 1.2s cubic-bezier(0, 0, 0.43, 0.58) infinite;
    color: #8bc0c670;
    &--small {
      width: 50px;
      height: 50px;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
